# CIS 2100 - Programming Foundation for Business Analytics
# Dr. Marjan Orang
# Module 5: Lists

A list is a sequence of values. There are several ways to create a new list; the simplest is to enclose the elements in square brackets ([ and ]):

In [ ]:
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [ ]:
a = ['frog', 'horse', 'cat', 'dog']
a

['frog', 'horse', 'cat', 'dog']

List items do not have to be homogenous.

In [ ]:
a = [1, 2.0, False, 'hi']
a

[1, 2.0, False, 'hi']

## Class exercise
Create a list named letters that contains characters a, b, and c.

In [ ]:
letters = ['a', 'b', 'c']
letters

['a', 'b', 'c']

A list within another list is nested.

In [ ]:
a = [1, 2.0, False, 'hi', [10, 20]]
a

[1, 2.0, False, 'hi', [10, 20]]

The built-in len function returns the length of a list.

In [ ]:
len(a)

5

\A list that contains no elements is called an empty list; you can create one with empty
brackets, [].

In [ ]:
a = []
a

# Lists are mutable
The syntax for accessing the elements of a list is the bracket operator. The expression inside the brackets specifies the index.
Remember that the indices start at 0.

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
print(cheeses[0])
print(numbers[1])

Cheddar
123

In [ ]:
cheeses[1] = 'Pepper Jack'
cheeses

['Cheddar', 'Pepper Jack', 'Gouda']

In [ ]:
numbers[0] = 10
numbers

[10, 123]

# The in operator
Examines if a value exists in the list.

In [ ]:
'Edam' in cheeses

False

In [ ]:
'Brie' in cheeses

False

# Traversing a list
The most common way to traverse the elements of a list is with a for loop.

In [ ]:
for x in cheeses:
    print(x)

Cheddar
Pepper Jack
Gouda

This works well if you only need to read the elements of the list. But if you want to write
or update the elements, you need the indices. A common way to do that is to combine the
built-in functions range and len:

In [ ]:
len(cheeses)

3

In [ ]:
for i in range(len(cheeses)):
    print(cheeses[i])

Cheddar
Pepper Jack
Gouda

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
numbers

[20, 246]

# List operations
The + operator concatenates lists.

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

The * operator repeats a list a given number of times:

In [ ]:
g = [0] * 4
print(g)
[1, 2, 3] * 3

## List slices
You can slice lists by specifying start and end indexes. Note that the end index is excluded.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
a[2:5]

[3, 4, 5]

If you leave the start index empty, slicing begins at index zero.

In [ ]:
a[:5]

[1, 2, 3, 4, 5]

If you leave the end index empty, slicing ends at the end of the list.

In [ ]:
a[4:]

[5, 6, 7, 8]

A negative index is calculated from the end of the list. The following excludes the last 2 elements of the list.

In [ ]:
a[:-2]

[1, 2, 3, 4, 5, 6]

The following slices the last 3 elements.

In [ ]:
a[-3:]

[6, 7, 8]

The third parameter specifies the step size which has a default value of 1.

In [ ]:
a[0:7:2]

[1, 3, 5, 7]

If the step size is negative, slicing will be done in revrese order.

In [ ]:
a[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

Below we use -2 as step size to slice even values in reverse order.

In [ ]:
a[::-2]

[8, 6, 4, 2]

Reverse slicing odd values.

In [ ]:
a[-2::-2]

[7, 5, 3, 1]

You can use slicing to replace values in a list.

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
t

['a', 'x', 'y', 'd', 'e', 'f']

# Class exercise
Write a function that returns the middle element of any list assuming that the list has an odd number of elements.

In [ ]:
def middle(t):
  middle_element = len(t) // 2
  return t[middle_element]

middle([1,2,3,4,5])

3

# Class exercise
Write a function that returns the average of the 2 middle elements of any list assuming that the list has an even number of elements.

In [ ]:
def even_middle(t):
  middle_element = len(t) // 2
  return (t[middle_element] + t[middle_element - 1]) / 2

even_middle([1,2,3,4,5,6])

3.5

## List methods
Python provides methods that operate on lists. For example, append adds a new element
to the end of a list:

In [ ]:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

extend takes a list as an argument and appends all of the elements. This example leaves t2 unmodified.

In [ ]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

sort arranges the elements of the list from low to high:

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

Most list methods are void; they modify the list and return None. If you accidentally write
t = t.sort(), you will be disappointed with the result.

In [ ]:
t = t.sort()
print(t)

None


index function returns zero-based index in the list of the first item whose value is equal to x. it raises a ValueError if there is no such item.

In [ ]:
x = ['a', 'b', 'c', 'd', 'e']
x.index('c')

2

In [ ]:
x.index('f')

ValueError: 'f' is not in list

## Map, filter and reduce
To add up all the numbers in a list, you can use a loop like this. Note that we use the 'list' keyword to create a list.

In [ ]:
t = list(range(1,10))
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total
add_all(t)

45

You can also use built-in Python functions:

In [ ]:
sum(t)

In [ ]:
max(t)

In [ ]:
min(t)

Use 'sorted' built-in function to get a sorted copy of the argument withou modifying the input value.

In [ ]:
x=[11,3,7,22,5]
y = sorted(x)
print(y)
print(x)

[3, 5, 7, 11, 22]
[11, 3, 7, 22, 5]

Sometimes you want to traverse one list while building another. For example, the following
function takes a list of number and returns a new list that contains squared values.

In [ ]:
def square(t):
    res = []
    for element in t:
        res.append(element**2)
    return res
t = list(range(1,10))
square(t)

# Class exercise
Write a function that takes a list of number and returns a new list that contains absolute values of the input list.

In [ ]:
def abs_value(t):
  res = []
  for element in t:
    res.append(abs(element))
  return res
t = [-1,2,-3,4,-5]
abs_value(t)

[1, 2, 3, 4, 5]

## Deleting elements
There are several ways to delete elements from a list. If you know the index of the element
you want, you can use pop:

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
print(x)

['a', 'c']
b

If you don’t need the removed value, you can use the del operator:

In [ ]:
t = ['a', 'b', 'c']
del t[1]
t

To remove more than one element, you can use del with a slice index:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

You can also delete the entire list using del keyword to free up memory.

In [ ]:
del t
t

## List arguments
Since lists are mutable, if you pass a list to a function and the function modifies it, the original list will be modified.

In [ ]:
def delete_head(t):
    del t[0]
letters = ['a', 'b', 'c']
delete_head(letters)
letters