# CIS 2100 - Programming Foundation for Business Analytics
# Dr. Marjan Orang
# Assignment 5: Lists

1. Write a function called nested_sum that takes a list of lists of integers and adds up the elements from all of the nested lists. For example for t = [[1, 2], [3], [4, 5, 6]], nested_sum(t) should return  21.

In [3]:
def nested_sum(t):
    total = 0
    for i in t:
        total += sum(i)
    return total

nested_sum([[1, 2], [3], [4, 5, 6]])

21

2. Write a function called cumsum that takes a list of numbers and returns the cumulative sum; that is, a new list where the ith element is the sum of the first i + 1 elements from the original list. For example for t = [1, 2, 3], cumsum(t) should return [1, 3, 6].

In [4]:
def cumsum(t):
  total = 0
  res = []
  for i in t:
    total += i
    res.append(total)
  return res

cumsum([1, 2, 3])

[1, 3, 6]

3. Write a function called middle that takes a list and returns a new list that contains all but the first and last elements. For example for t = [1, 2, 3, 4], middle(t) should return [2, 3].

In [7]:
def middle(t):
  res = []
  for i in range(1, len(t)-1):
    res.append(t[i])
  return res

middle([1, 2, 3, 4])

[2, 3]

4. Write a function called is_sorted that takes a list as a parameter and returns True
if the list is sorted in ascending order and False otherwise. For example, is_sorted([1, 2, 2]) should return True
and is_sorted(['b', 'a']) should return False.<br>
Tip: you can compare string the same way you compare number. For example 'a'>'b' is True and 'b'>'a' is False.

In [8]:
#example
print('a'>'b')
print('b'>'a')

False
True

In [9]:
def is_sorted(t):
  for i in range(len(t)-1):
    if t[i] > t[i+1]:
      return False
  return True

print(is_sorted([1, 2, 2]))
print(is_sorted(['b', 'a']))

True
False

5. Write a function called has_duplicates that takes a list and returns True if there is any element that appears more than once. It should not modify the original list.<br>
Tip: check out list.index(x). It returns zero-based index in the list of the first item whose value is equal to x. it raises a ValueError if there is no such item.

In [10]:
x = ['a', 'b', 'c', 'd', 'e']
x.index('c')

2

In [14]:
def has_duplicates(t):
  for i in range(len(t)):
    for j in range(i+1, len(t)):
      if t[i] == t[j]:
        return True
  return False

print(has_duplicates([1, 2, 2]))
print(has_duplicates(['b', 'a', 'c', 'd', 'e']))

True
False

6. Write a function that calculates the median value of a list of numbers. In a sorted list, the median is the middle element if the number of elements is odd, otherwise it would be the average of the 2 middle elements. For example, the median of [1,2,3,4,5] is 3 and the median for [1,2,3,4,5,6] is the avergae of 3 and 4 which is 3.5. Note that the input list may not be necessarily sorted so you need to sort it first.<br> Optional: The functions should not sort the original list. Instead, work with a sorted copy.

In [15]:
def sorted_med_val(t):
  t.sort()
  if len(t) % 2 == 0:
    return (t[len(t)//2] + t[len(t)//2 - 1]) / 2
  else:
    return t[len(t)//2]

print(sorted_med_val([1,2,3,4,5]))
print(sorted_med_val([1,2,3,4,5,6]))

3
3.5

7. (Optional) Write a function called chop that takes a list, modifies it by removing the first and last elements, and returns None. For example, for t = [1, 2, 3, 4], after calling chop(t), t would be [2, 3]. Please note that the function does not return anything. Instead, it modifies the object passed to it as parameter.

In [16]:
def chop(t):
  t.pop(0)
  t.pop(-1)
  return None

t = [1, 2, 3, 4]
chop(t)
print(t)

[2, 3]