# CIS 2100 - Programming Foundation for Business Analytics
# Dr. Marjan Orang
# Assignment 4: Iteration

1. Write a program that prints the first 10 even numbers and their sum.

In [ ]:
n = 0
sum = 0

while n < 10:
  print(n)
  n = n + 2
  sum = sum + n


print(sum)

0
2
4
6
8
30

2. Write a function that calculates factorial (n). In mathematics it is is displayed as n!. Factorial is the product of an integer and all the integers below it; e.g. factorial four ( 4! ) is equal to 24 (4 * 3 * 2 * 1).

In [ ]:
def factorial(n):
  product = 1
  i = 0

  while i < n:
    i += 1
    product = product * i

  return product

factorial(4)

24

3. The built-in function eval takes a string and evaluates it using the Python interpreter.
For example:

In [ ]:
eval('1 + 2 * 3')

7

In [ ]:
import math
eval('math.sqrt(5)')

2.23606797749979

In [ ]:
eval('type(math.pi)')

float

Write a function called eval_loop that iteratively prompts the user, takes the resulting input and
evaluates it using eval, and prints the result.<br>
It should continue until the user enters 'done', and then return the value of the last expression it
evaluated.

In [ ]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(eval(line))

> 3
3
> 3+3
6
> 4 - 5
-1
> 5 * 5
25
> done

4. Write a program that print the left half of a multiplication table as you see below. Use nested loops.<br>
Hint 1: check out this page to learn how to format strings: https://www.geeksforgeeks.org/python-format-function/

![Multiplication%20table.png](https://mathequalslove.net/wp-content/uploads/2023/06/multiplication-chart-1-15-1024x787.png)

In [ ]:
# prompt: Write a program that print the left half of a multiplication table. Use nested loops.

for i in range(1, 11): # determines number of rows
  for j in range(1, i + 1):  # determines number of columns
      # i + 1 has the row number match the number of columns
      # Ex: row 1 has 1 column, row 2 has 2 columns, etc.
    print(f"{i * j:3}", end=" ")
      # j:3 makes sure the text is right-aligned with 3 spaces
  print()

  1
  2   4
  3   6   9
  4   8  12  16
  5  10  15  20  25
  6  12  18  24  30  36
  7  14  21  28  35  42  49
  8  16  24  32  40  48  56  64
  9  18  27  36  45  54  63  72  81
 10  20  30  40  50  60  70  80  90 100

5. Write a program to read in 10 numbers and compute the average, maximum and minimum values.

In [ ]:
def avg_max_min(num1, num2, num3, num4, num5, num6, num7, num8, num9, num10):
  array = [num1, num2, num3, num4, num5, num6, num7, num8, num9, num10]
  avg = 0
  max = 0
  min = num1

  for i in array:
    if i > max:
      max = i
    if i < min:
      min = i
    avg = avg + i

  avg = avg / len(array)

  print("Average:", avg)
  print("Max:", max)
  print("Min:", min)

avg_max_min(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Average: 5.5
Max: 10
Min: 1