# CIS 2100 - Programming Foundation for Business Analytics
# Dr. Marjan Orang
# Assignment 6 - Strings, Dictionaries, and Tuples

1. Write a function called capital which accepts a string and returns the same string after capitalizing the first letter. For example, if the parameter is 'banana', it will return 'Banana'.

In [1]:
def capital(string):
  return string.capitalize()

capital('banana')

'Banana'

2. Write a function called count_As that returns the number of a's in a string. For example, for 'banana', it will return 3.

In [2]:
def count_As(string):
  return string.count('a')

count_As('banana')

3

3. Write a function called print_evens that accepts a dictionary as parameter and prints key-values where the value is divisible by 2. For example, if dictionary={'a':2, 'b':3, 'c':4, 'd':5} it will print a 2 and c 4.

In [4]:
def print_evens(dictionary):
  for key, value in dictionary.items():
    if value % 2 == 0:
      print(key, value)

print_evens({'a':2, 'b':3, 'c':4, 'd':5})

a 2
c 4

4. Write a function called double_dict that takes a dictionary and mutiplies all the values (not keys) by 2. For example, given dictionary={'a':2, 'b':3, 'c':4, 'd':5}, after running the function dictionary would be {'a':4, 'b':6, 'c':8, 'd':10}.

In [5]:
def double_dict(dictionary):
  for key, value in dictionary.items():
    dictionary[key] = value * 2
  return dictionary

double_dict({'a':2, 'b':3, 'c':4, 'd':5})

{'a': 4, 'b': 6, 'c': 8, 'd': 10}

5. Write a function named product that calculates the product of all elements in a tuple. For example, for (2,3,4) the result would be 2x3x4=24. The function will not generate '2x3x4' as a string. It will return a single number which is 24 in this example.

In [8]:
def product(tuple):
  total = 1
  for i in tuple:
    total *= i
  return total

product((2,3,4))

24